<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="ConexionAS400" connectionString="Data source=192.168.166.22; User Id=SA; Password=M1STERI0; Default Collection=ASDATA;"/>

     <add  name="ConexionSQL" connectionString="Data Source=SERVIDOR\SQLEXPRESS,1433;Initial Catalog=BDTEXNET;user Id=sa;Password=texnet;"/>
   <!--<add  name="ConexionSQL" connectionString="Data Source=SERVERTS01,1433;Initial Catalog=BDTEXNET;user Id=sa;Password=Tt87655;"/> -->
  </connectionStrings>
</configuration>